/* web app font-size */
html {
    font-size: 62.5%; /* 文字：10÷16=62.5% 宽高：px÷10 = rem*/
}
@media only screen and (min-width: 320px) {
    html {
        font-size: 69%!important;
    }
}
@media only screen and (min-width: 360px) {
    html {
        font-size: 80%!important;
    }
}
@media only screen and (min-width: 410px) {
    html {
        font-size: 89%!important;
    }
}
@media only screen and (min-width: 481px) {
    html {
        font-size: 94%!important;
    }
}
@media only screen and (min-width: 561px) {
    html {
        font-size: 109%!important; 
    }
}
@media only screen and (min-width: 641px) {
    html {
        font-size: 125%!important; 
    }
}