<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>前端开发规范</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="stylesheet" type="text/css" href="../../css/specification/index.css">
    <!--# include file="/dev/dist/views/ssi/specification/environment-config.html" -->
</head>
<body>
<h1 class="topic-title">前端开发规范</h1>
<!-- 分类 -->
<div class="sort-menu">
    <a href="sort_html/html-index.html">HTML</a>
    <a href="sort_css/css-index.html">CSS</a>
    <a href="sort_js/js-index.html">JAVASCRIPT</a>
</div>
<!-- 分类 end -->
<div class="quote-from">
    规范主要来源于百度前端规范;
</div>
</body>
</html>