<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>实时票房</title>
    <!--# include file="/dev/dist/views/ssi/boxoffice/environment-config.html" -->
    <script>
    // document.write('<link rel="stylesheet" href="http://' + css_server + rev + '/css/common/main.css">');
    document.write('<link rel="stylesheet" href="http://' + css_server + '/css/boxoffice/boxoffice.css">');
    </script>
</head>
<body>
    <div id="example"></div>
    <script>
    document.write('<script src="http://' + js_server + '/js/boxoffice/common.js"><\/script>');
    document.write('<script src="http://' + js_server + '/js/boxoffice/boxoffice.js"><\/script>');
    </script>
</body>
</html>